#fundo{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow: hidden;
    width:100%;
    height:760px;
}

#titulo{
    top:100%;
    margin-left: 30%;
    font-size: 75px;
    color:#ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}


span{
    color:#ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}


#texto{
    text-align: center;
    font-size: 27px;
    color:#a6b0c0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 70px;
    font-weight: 200;
}
li{
    display: inline-block;
    margin-left: 10px;
    border:solid 1px;
    padding:0.7em 1.6em;
    color:#a6b0c0;
    border-radius: 5px;
    align-items: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-size: 11px;
}

.tabela{
text-align: center;
}
li:hover{
    background-color: #ffffff;
    color: black;
}
#relogio{
    width:420px;
    height:300px;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow:10px 10px 50px #a6b0c0;
}
#mimir{
    width:420px;
    height:300px;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow:10px 10px 50px #a6b0c0;
}
#bolo{
    width:420px;
    height:300px;
    border-radius: 5px;
    margin-left: 15px;
    box-shadow:10px 10px 50px #a6b0c0;
}
#fotos{
    margin-top: 1vh;
    text-align: center;
}
svg {
    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
    margin-top: -10%;
}